In [41]:
from pyspark.sql import SparkSession

In [42]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [43]:
df = spark.read.json('people.json')

In [44]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [45]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [46]:
df.columns

['age', 'name']

In [47]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [48]:
from pyspark.sql.types import (StructField, StringType, IntegerType, StructType)

In [49]:
data_schema = [StructField('age', IntegerType(), True),
              StructField('name', StringType(), True)]

In [50]:
final_struc = StructType(fields=data_schema)

In [51]:
df = spark.read.json('people.json', schema=final_struc)

In [52]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [53]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [54]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [55]:
type(df['age'])

pyspark.sql.column.Column

In [56]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [57]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [58]:
df.select(['age', 'name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [59]:
df.withColumn('newage', df['age']).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    30|
|  19| Justin|    19|
+----+-------+------+

In [60]:
df.withColumn('double_age', df['age']*2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [61]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [62]:
df.withColumnRenamed('age', 'my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [76]:
df.createOrReplaceGlobalTempView('people')